* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

body {
    margin: auto;
    width: 1280px;
    height: 1626px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #373737;
    background-color: #ffffff;
}

.header {
    width: 620px;
    padding-top: 31px;
    padding-bottom: 31px;
    margin: 0 auto;
    background-color: #ffffff;
}

.”header-nav” {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    background-color: #ffffff;
}

.”header-item” {
    display: inline-block;
    margin-right: 72px;
}

.”header-item”:last-child {
    margin-right: 0px;
    margin-left: -22px;
}

.”header-nav-link” {
    text-decoration: none;
    color: #ff0000;
    background-color: #ffffff;
}

.”header-nav” a {
    transition: color 0.2s ease;
}

.”header-nav” a:hover {
    color: #7733CC;
}

.header-img-link {
    display: block;
}

.”content” {
    padding-top: 48px;
    padding-bottom: 8px;
    background-color: #ffffff
}

.”content-title” {
    height: 29px;
    padding-right: 253px;
    padding-left: 253px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    background-color: #ffffff
}

.”content-text-comb” {
    padding-top: 38px;
    padding-right: 67.5px;
    padding-left: 67.5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    background-color: #ffffff
}

.”content-text-save” {
    padding-top: 28px;
    padding-right: 67.5px;
    padding-left: 67.5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    background-color: #ffffff
}

.”content-text-btn” {
    padding-right: 544.5px;
    padding-left: 544.5px;
    padding-top: 66px;
    padding-bottom: 42px;
    background-color: #ffffff
}

.”button” {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 42px;
    padding-left: 43px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 4px;
}

.footer {
    padding-right: 105px;
    padding-left: 105px;
    padding-top: 40px;
    padding-bottom: 29px;
    background-color: #ffffff;
}

.footer-text {
    display: flex;
    justify-content: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    background-color: #ffffff
}
.”content-text-btn” a {
    transition: color 0.2s ease;
}

.”content-text-btn” a:hover {
    color: #7733CC;
}