@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    src: local('Gilam'), url('GilamBook.woff') format('woff');
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    src: local('Gilam'), url('GilamRegular.woff') format('woff');
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    src: local('Gilam'), url('GilamSemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    src: local('Gilam'), url('GilamBold.woff') format('woff');
}


