body {
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.logo {
    padding-top: 63px;
    padding-bottom: 40px;
}

.logo-link {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo-color {
    color: #4BCAFF;
}

.menu-list {
    display: flex;
    height: 69px;
    justify-content: center;
    background: #35444F;
}

.menu-item {
    color: #FFFFFF;
}

.menu-link {
    display: inline-block;
    font-size: 24px;
    line-height: 27px;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.menu-link:hover {
    background: #222F3A;
    border-color: #FFFFFF;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    margin-bottom: 51px;
}

.side-menu {
    height: 399px;
    border: solid 1px #000000;
}

.side-menu-item {
    color: #495863;
}

.side-menu-link {
    width: 344px;
    display: inline-block;
    align-content: center;
    font-size: 27px;
    line-height: 27px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
    padding-right: 44px;
}

.side-menu-link:hover {
    padding-left: 80px;
    color: #000000;
    background: #DBDBDB;
}

.main-content {
    width: 885px;
}

.main-img {
    display: flex;
    height: 529px;
    justify-content: center;
    align-items: center;
    border: solid 1px #000000;
}

.ramda-img:hover {
    transform: scale(1.2);
    transition: 4s;
}

.main-text {
    display: inline-block;
    line-height: 24px;
}

.text-ru {
    padding-top: 37px;
}

.text-en {
    padding-top: 34px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48)
}

.footer-menu {
    padding-left: 40px;
}

.footer-menu-list {
    width: 875px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-item {
    color: #0C1927;
}

.footer-menu-link {
    font-size: 28px;
    line-height: 28px;
    border-bottom: solid 1px transparent;
}

.footer-menu-link:hover {
    color: #3181A6;
    padding-bottom: 10px;
    border-color: #3181A6;
}

.footer-text-item {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;
}