@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #FFF;
    background-color: #000;
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-container {
    margin: 0 auto;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.header-logo {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.header-logo-link-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons-link {
    padding-left: 13px;
    padding-right: 13px;
    transition: transform .8s ease-in-out;
}

.header-text-link::before {
    content: "";
    padding-left: 13px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.header-logo-link:hover,.header-text-hover:hover {
    filter: invert(75%) sepia(10%) saturate(2750%) hue-rotate(100deg) brightness(146%) contrast(120%);
    transition: 0.5s linear;
    transform: scale(1.1);
}

.header-icons-link:hover {
    filter: invert(75%) sepia(10%) saturate(2750%) hue-rotate(100deg) brightness(146%) contrast(120%);
    transform: rotate(360deg);
}

.main-container {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    max-width: 444px;
    min-height: 584px;
    padding: 40px 60px 40px 60px;
    background-color: #FFF;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 1);
}

.main-form-container {
    height: 100%;
}

.main-form-sign-log {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.main-form-sig-link {
    display: flex;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.main-form-sig-link::before {
    content: "";
    position: absolute;
    left: -60px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #3CB878;
}

.main-form-log-link {
    color: #3CB878!important;
}

.main-form-log-link:hover {
    color: #01813F!important;
    text-decoration: revert;
    transition: 0.5s linear;
}

.main-form-network {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}

.button {
    position: relative;
    width: 160px;
    min-height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.main-form-network-facebook {
    background-color: #305DB8;
}

.main-form-network-google {
    background-color: #DF4A32;
}

.main-form-network-facebook:hover {
    background-color: #022263;
}
.main-form-network-google:hover {
    background-color: #AB1F09;
}

.main-form-network-text {
    position: revert;
    font-size: 16px;
    line-height: 16px;
}

.main-form-network-text::before {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.1;
    margin-left: -18px;
}

.main-dividing-line {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    color: #848484;
}

.main-dividing-line:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: 0;
    opacity: 0.2;
}

.main-dividing-line:after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #000;
    top: 50%;
    right: 0;
    opacity: 0.2;
}

.main-form-input-text, .main-form-input-password {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 16px;
    height: 44px;
    width: 318px;
    padding-left: 20px;
}

.main-form-input-text::placeholder, .main-form-input-password::placeholder {
    color: #BEBEBE;
}

.main-form-input-text:focus, .main-form-input-password:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
}

.main-form-condition {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.main-form-condition-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main-form-condition-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.main-form-condition-checkbox+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F2;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}

.main-form-condition-checkbox:checked+label::before {
    background-image: url("../icons/check.svg");
}

.main-form-condition-text {
    color: #434343;
    margin-left: 10px;
}

.main-form-condition-text a{
    color: #20a24b;
}

.main-form-condition-text a:hover {
    color: #0d7830;
    text-decoration: revert;
}

.main-form-submit-button {
    display: flex;
    width: 324px;
    height: 46px;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    transition: background-color 0.3s linear;
    border-radius: 4px;
    background-color: #3CB878CC;
    cursor: pointer;
}

.main-form-submit-button:hover {
    background-color: #01813F;
}