@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #FFF;
    background-color: #000;
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-container {
    margin: 0 auto;
    max-width: 1030px;
    height: 100%;
}

.header {
    margin-top: 50px;
    margin-bottom: 22px;
}

.header-logo {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header-logo-link {
    display: flex;
}

.header-logo-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    margin-left: 10px;
}

.header-logo-title-text:first-child {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.header-logo-link:hover, .header-logo-link:hover {
    filter: invert(44%) sepia(58%) saturate(2348%) hue-rotate(350deg) brightness(100%) contrast(91%);
}

.header-contacts-email:hover, .header-contacts-phone:hover {
    filter: invert(44%) sepia(58%) saturate(2348%) hue-rotate(350deg) brightness(100%) contrast(91%);
}

.main-container {
    margin: 0 auto;
    max-width: 1090px;
    height: 100%;
}

.section {
    min-height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.section-content-container {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(#fff, transparent) 1;
}
.section-content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 37px 10px 16px;
    position: absolute;
    bottom: 0;
    background-color: #F26522;
    width: 300px;
    transform: translateY(100%);
    transition: transform .4s linear;
}

.section-content:hover .section-content-info {
    transform: translateY(0);
}

.section-content:hover .section-content-text{
    filter: invert(44%) sepia(58%) saturate(2348%) hue-rotate(350deg) brightness(100%) contrast(91%);
}

.section-content-info-text {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 10px;
}
.section-content-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-content-info-item-price {
    font-size: 20px;
    line-height: 20px;
}
.section-content-info-item-text {
    font-size: 14px;
    line-height: 14px;
}
.main-row_tour-item-link:hover .tour-item__info-details {
    transform: translateY(0);
}

.section-content-info-item-text::after {
    content: url(../icons/Vector_1.png);
    padding-left: 16px;
    position: absolute;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.footer-text {
    font-size: 12px;
    line-height: 12px;
}